h3 {
    display: inline;
}
  
header {
    background-color: orange;
}

main {
    background-color: lavenderblush;
}
  
ol {
    margin-top: 0;
    padding-top: 10px;
    padding-left:20px;
}
  
li {
    color: grey;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: solid 10px grey;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
/*inline-block을 안 쓰면 삼각형 윗 공간이 생긴다.*/

.article_title {
    color: black;
    text-decoration: none;
}

.pushed_time {
    font-size: small;
    color: grey;
}

.link_adress {
    color: black;
    text-decoration: none;
}