body {
    margin: auto;
    width: 85%;
    padding-top: 10px;
}
header {
    background-color: rgb(239, 111, 46);
}
main {
    background-color: rgb(246, 246, 240);
}
#list {
    display: grid;
    text-decoration: none;
    text-align: left;
}
.list_element {
    margin: 3px 5px;
}
.list_element span, 
.list_element a {
    font-size: 13px;
} 
#login {
    grid-column: 3;
    text-align: right;
}
/*grid를 사용하여 오른쪽에 붙일 수 있었다*/
h3 {
    display: inline;
}
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left:20px;
} 
li {
    color: grey;
}
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: solid 10px grey;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
/*inline-block을 안 쓰면 삼각형 윗 공간이 생긴다.*/
.article_title {
    color: black;
    text-decoration: none;
}
.pushed_time {
    font-size: small;
    color: grey;
}
.link_adress {
    color: grey;
    font-size: small;
    text-decoration: none;
}
.bracket {
    font-size: 11px;
}
footer {
    background-color: rgb(246, 246, 240);
    height: 70px;
    border-top: solid rgb(239, 111, 46);
    text-align: center;
    margin-top: 0;
}
.footer_list {
    font-size: 10px;
    text-align: center;
    padding-top: 12px;
}
.top_link {
    color: black;
    text-decoration: none;
    display: inline-block;
}
/*inline-block이 뭐길래 이게 가능하지*/
#search {
    display: inline-block;
    color: grey;
    padding-top: 8px;
}
#search input {
    width: 150px;
}

/* main과 footer 사이에 있던 공백은 ol의 margin-bottom이었다.*/