h3 {
    display: inline;
}
  
header {
    background-color: orange;
}
  
ol {
    padding-left:20px;
}
  
.triangle {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid black;
}